<h1 class="mt-16" style="margin-bottom: 16px;">Thống kê</h1>
<div class="row statistic">
    <a href="/statistic/statistic-type-products" class="col col-half">Thống kê loại sản phẩm</a>
    <a href="/statistic/statistic-sold-products" class="col col-half">Thống kê số lượng sản phẩm bán được</a>
</div>