<div id="footer" class="mt-4 text-center">
    <div class="socials-list">
        <a href="https://twitter.com/itisDW"><i class="ti-twitter-alt"></i></a>
        <a href="https://www.facebook.com/danielwellingtonofficial"><i class="ti-facebook"></i></a>
        <a href="https://www.instagram.com/danielwellington/"><i class="ti-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCY_BDqPMGJaBrxiiazZlEHg"><i class="ti-youtube"></i></a>
        <a href="https://www.pinterest.se/itisDW/"><i class="ti-pinterest-alt"></i></a>
    </div>
    <p class="copyright"><i class="ti-star"></i> 2023 Daniel Wellington AB</p>
</div>