{{!-- <div id="slider">
            <div class="banner"></div>
            <div class="col text-content">
                    <h2 class="text-banner mb-8">LOOK BACK FOR SOMETHING NEW</h2>
                    <p class="text-description mb-16">It’s waiting through the screen.</p>
                    <a href="">Read the full story behind AW23</a>
                
            </div>
            <div class="row text-heading">
                <p class="col col-third text-center"><i class="icon-head ti-truck"></i>Free Shipping Available</p>
                <p class="col col-third text-center"><i class="icon-head ti-dropbox"></i>Free Returns</p>
                <p class="col col-third text-center"><i class="icon-head ti-timer"></i>Two Year Warranty</p>
            </div>
        </div> --}}